@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body{background-color: #FAFAFA;}

#a_main{font-family: "Nanum Gothic", sans-serif;}
#a_main_en{font-family: "Inconsolata", sans-serif;}

#a_main,#a_main_en{
text-align: center;
margin: auto;
}

span{
color: #282828;
text-decoration: none;
}

a:link{
color: #BB0011;
text-decoration: none;
}
a:active{
color: #CCCCCC;
text-decoration: none;
}
a:visited{
color: #777777;
text-decoration: none;
}
a:hover{
color: #AAAAAA;
text-decoration: none;
}

blockquote{
font-family: "Courier New"
}

abbr{cursor: help;}

table,tr,td{
border: 1px solid #000000;
border-collapse: collapse;
}

ul, ol{
margin-left: -1.25em;
margin-right: 1em;
font-size: 13px;
line-height: 1.35;
}

.nonmarker{list-style-type: none;}

.notyetavail{color: #DEDEDE;}

.fonts_small{font-size: 72%;}

#headtext{
text-align: center;
background-color: #F5F8FA;
padding-top: 1em;
padding-bottom: 1em;
border-radius: 1.4em;
}

label{font-size: 80%;}

.uinotes{font-size: 9px;}

.icon_links{margin: 0.5em;}
